@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "colors";

/*
 * Theme definitions
 */

$themes: (
  light: (
    brandIcon: slateblue,
    backgroundColor: rgb(255, 247, 241),
    footerBackground: rgb(255, 247, 241),
    navBackground: rgb(255, 247, 241),
    secondary: $gray-900,
    textColor: $black,
    firstName: slateblue,
    lastName: $black,
    linkText: violet,
    linkHover: rgb(116, 65, 116),
    themeColor: $dark-blue,
    heartColor: pink,
    titleColor: $dark-blue,
    hrefColor: black,
    github: $black,
    linkedin: $linkedin-blue,
    ka: $baby-blue,
    hr: $hr-green,
    mail: $yellow,
    file: $dark-blue,
    iconBackground: $white,
    cardBackground: $white,
  ),
  dark: (
    brandIcon: violet,
    backgroundColor: rgb(42, 30, 43),
    footerBackground: rgb(42, 30, 43),
    secondary: $gray-100,
    navBackground: rgb(42, 30, 43),
    linkText: pink,
    linkHover: rgb(166, 124, 131),
    textColor: $gray-300,
    firstName: $gray-100,
    lastName: pink,
    titleColor: $white,
    hrefColor: pink,
    themeColor: $dark-red,
    heartColor: red,
    github: $empire-red,
    linkedin: $empire-red,
    ka: $baby-blue,
    hr: $empire-red,
    mail: $empire-red,
    file: $empire-red,
    iconBackground: $black,
    cardBackground: $dark-gray,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/** CUSTOM THEMING BEGIN */

a {
  @include themify($themes) {
    color: themed("linkText");
    &:hover {
      color: themed("linkHover");
    }
  }
}

.brand-icon {
  font-size: 2.75rem;
  @include themify($themes) {
    color: themed("brandIcon");
  }
}

.first-name {
  @include themify($themes) {
    color: themed("firstName");
  }
}

.last-name {
  @include themify($themes) {
    color: themed("lastName");
  }
}

// header
.navbar,
.navbar div {
  @include themify($themes) {
    background: themed("navBackground");
  }
}

.nav-links a {
  @include themify($themes) {
    color: themed("linkHover") !important;
    &:hover {
      text-decoration: underline themed("hrefColor") solid;
    }
  }
}

.footer {
  @include themify($themes) {
    background: themed("backgroundColor");
  }
}

.heart {
  @include themify($themes) {
    color: themed("heartColor");
  }
}

.watch-list-title {
  @include themify($themes) {
    color: themed("secondary");
  }
}

.card-container {
  @include themify($themes) {
    width: 25rem;
    height: 23rem;
    text-decoration-color: themed("hrefColor");
    & * {
      background: themed("cardBackground");
    }
  }
}

.blog-filter {
  @include themify($themes) {
    & input {
      color: themed("titleColor");
      &:focus {
        box-shadow: 0 0 0 1px rgba(themed("hrefColor"), 0.5);
        border-color: rgba(themed("hrefColor"), 0.5);
      }
    }
  }
}

.resume-tags {
  @include themify($themes) {
    background: themed("navBackground");
  }
}

.github {
  animation-delay: 0.2s;
}

.linkedin {
  animation-delay: 0.4s;
}

.kaggle {
  animation-delay: 0.6s;
}

.mail {
  animation-delay: 0.8s;
}

.file {
  animation-delay: 1s;
}

.icons,
.brand-icon,
.theme-toggle {
  animation-name: rgblighting;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes rgblighting {
  0% {
    color: #fd8dff;
  }
  25% {
    color: #be81ff;
  }
  50% {
    color: #8196ff;
  }
  75% {
    color: #a8ff79;
  }
  100% {
    color: #ff6969;
  }
}

.icons:hover {
  @include themify($themes) {
    background: themed("iconBackground");
    &.github {
      color: themed("github");
    }
    &.linkedin {
      color: themed("linkedin");
    }
    &.ka {
      color: themed("ka");
    }
    &.hr {
      color: themed("hr");
    }
    &.mail {
      color: themed("mail");
    }
    &.file {
      color: themed("file");
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  @include themify($themes) {
    color: themed("titleColor");
  }
}

div {
  @include themify($themes) {
    background: themed("backgroundColor");
  }
}

p {
  @include themify($themes) {
    color: themed("textColor");
  }
}
